.App {
    background-color: #383e56;
}

.banner {
    padding: 1.7rem;
    background-color: #f6f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body {
    display: flex;
    justify-content: center;
}

.title {
    font-family: "Impact";
    font-size: 70px;
    color: #16c79a;
}

.btn {
    color: #ffffff;
    background-color: #252525;
    font-family: "sans-serif";
    font-size: 17px;
    font-weight: bold;
    width: 10rem;
}